  <div class="col-md-12 pad-0">
      <div class="changePassword__container" ng-controller="loginController">
          <h1>Change Password</h1>
          <form role="form" name="changePasswordForm" novalidate>
              <div class="col-md-12 m-top-120 pad-0 error_msg">
                  <input type="password" class="form-control element-style" placeholder="Old Password" name="oldPassword" ng-model="oldPassword" required minlength="8">
              <span ng-show="changePasswordForm.oldPassword.$dirty && changePasswordForm.oldPassword.$invalid" ng-class="{myErrorText: changePasswordForm.oldPassword.$dirty && changePasswordForm.oldPassword.$invalid }">
                     <span ng-show="changePasswordForm.oldPassword.$error.required">Please enter old password.</span>
                     <span ng-show="changePasswordForm.oldPassword.$error.minlength">Password should be minimum 8 characters</span>   
                 
              </span>
              </div>
              <div class="col-md-12 m-top-15 pad-0 error_msg">
                  <input type="password" class="form-control element-style" placeholder="New Password" name="newPassword" ng-model="newPassword" password-verify-for-change="confirmPassword" required minlength="8">
                <span ng-show="changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$invalid" ng-class="{myErrorText: changePasswordForm.newPassword.$dirty && changePasswordForm.newPassword.$invalid }">
                   <span ng-show="changePasswordForm.newPassword.$error.required">Please enter new password</span>
                   <span ng-show="changePasswordForm.newPassword.$error.minlength">New Password should be minimum 8 characters</span>

                 </span>
              </div>
              <div class="col-md-12 m-top-15 pad-0 error_msg">
                  <input type="password" class="form-control element-style" placeholder="Confirm Password" name="confirmPassword" ng-model="confirmPassword" password-verify-for-change="newPassword" required minlength="8">
                 <span ng-show="changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$invalid" ng-class="{myErrorText: changePasswordForm.confirmPassword.$dirty && changePasswordForm.confirmPassword.$invalid }">
                     <span ng-show="changePasswordForm.confirmPassword.$error.required">Please enter confirm pasword.</span>
                    <!--  <span ng-show="changePasswordForm.confirmPassword.$error.minlength">Your password is too short </span>    -->
                     <span ng-show="changePasswordForm.confirmPassword.$error.passwordVerifyForChange">Password does not match</span>
                 
                 </span>
              </div>
              <div class="col-md-12 m-top-15 pad-0">
                  <button class="google-login" ng-click="changePassword()" ng-disabled="changePasswordForm.$invalid"><p>Submit</p></button>
              
              </div>
          </form>
      </div>
  </div>