<div class="col-md-12 pad-0" ng-controller="loginController">
<div class="overlay" ng-if="dataLoading">
	<img width="100" src="../assets/images/loaders/interwind-preloader.svg"/>
</div>
    <div class="col-md-8 pad-0">
      	<div id="myCarousel" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#myCarousel" data-slide-to="1"></li>
			    <li data-target="#myCarousel" data-slide-to="2"></li>
			  </ol>
			
			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active">
			    <div class="slide__text">
			    	<h1>Ready to play an active role in your financial affairs?</h1>
			    	<h4>
The perfect set of analytical tools to stay in charge of your financial outlook.
</h4>
			    </div>
			      <img src="../assets/images/banner1.jpg" alt="banner1" draggable="false">
			    </div>
			
			    <div class="item">
			    <div class="slide__text">
			    	<h1>Ground-breaking technology that calculates business performance in minutes.</h1>
			    	<h4>
ScoreMe calculates the actual performance of your business, along with a credit score.
</h4>
			    </div>
			      <img src="../assets/images/banner2.jpg" alt="banner2" draggable="false">
			    </div>
			
			    <div class="item">
			    <div class="slide__text">
			    	<h1>Boost your bank statement analysis abilities to the next level.</h1>
			    	<h4>
 An automated process of reading bank statements for an in-depth analysis.
</h4>
			    </div>
			      <img src="../assets/images/banner3.jpg" alt="banner3" draggable="false">
			    </div>
			  </div>
			</div>
        <!-- <div class="left-sidewall-login">
            <h1>What Your Score?</h1>
            <p>Lorem Ipsum Sit Dolores Omnia Vanitas</p>
        </div> -->
    </div>
    <div class="col-md-4 pad-0">
        <div class="right-sidewall-login">
            <a href="../index.html"><img src="../assets/images/logo.png" width="140"></a>
            <form role="form" name="resetPasswordForm" novalidate>
                <div class="login-content">
                    <h1>Forgot Password</h1>
                </div>
 
			 <div class="col-md-12 m-top-20 pad-0">
				 <div class="col-md-5 pad-0">
					 <div class="col-md-4 pad-0">
						 <!--  <div class="checkbox light-checkbox">-->
						 <div class="radio-sign">
					         <label>
					             <input ng-model="myVar" type="radio" [value]="true" aria-invalid="false" class="radio-wid">
					             <i class="input-helper"></i>
					         </label>
					     </div>
					     </div>
					     <div class="col-md-8 pad-0">
					     	  <label class="lbl2 lbl-pos">Email</label>  
					     </div>
				 </div>
				  <div class="col-md-5 pad-0">
				   <div class="col-md-4 pad-0">
					 <!--  <div class="checkbox light-checkbox">-->
					 <div class="radio-sign">
				         <label>
				             <input ng-model="myVar" type="radio" value="mobileno" aria-invalid="false" class="radio-wid">
				             <i class="input-helper"></i>
				         </label>
				     </div>
				 </div>
				  <div class="col-md-8 pad-0">
					     	  <label class="lbl2 lbl-pos">Mobile No</label>  
					     </div>
				 </div>
			<!--  <input type="radio" ng-model="myVar" [value]="true" />Email
			 <input type="radio" ng-model="myVar" value="mobileno">Mobile No. -->
			 
			 </div>
                <div class="col-md-12 m-top-15 pad-0">
               
                         
      <div ng-switch="myVar">
           <div ng-switch-when="emaill">
          <!--  <label class="lbl2">Email</label>  --> 
                 <input type="email" class="form-control element-style" id="email" name="email" ng-model="email" required  ng-pattern="/^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/"/>  
                <span ng-show="resetPasswordForm.email.$dirty && resetPasswordForm.email.$invalid" ng-class="{myErrorText: resetPasswordForm.email.$dirty && resetPasswordForm.email.$invalid }">
                    <span ng-show="resetPasswordForm.email.$error.required">This field can't be empty </span>
                    <!-- <span ng-show="resetPasswordForm.email.$error.email">Please enter valid email</span> -->
                    <span ng-show="resetPasswordForm.email.$error.pattern">Please
							enter valid email.</span>
                </span> 
            </div>
            <div ng-switch-when="mobileno" class="error_msg">
         <!--    <label class="lbl2">Mobile No</label> -->  
                 <input type="text" class="form-control element-style" name="email" id="email" ng-model="email" numbers-only minlength="10" maxlength="10" required />  
                <span ng-show="resetPasswordForm.email.$dirty && resetPasswordForm.email.$invalid" ng-class="{myErrorText: resetPasswordForm.email.$dirty && resetPasswordForm.email.$invalid }">
                    <span ng-show="resetPasswordForm.email.$error.required">This field can't be empty </span>
                    <span ng-show="resetPasswordForm.email.$error.minlength">Please enter exact 10 digits </span>    
                </span>             
            </div>
            <div ng-switch-default class="error_msg">
               <!-- <label class="lbl2">Email</label>   -->
                 <input type="email" class="form-control element-style" name="email" id="email" ng-model="email" required ng-pattern="/^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/" />  
                <span ng-show="resetPasswordForm.email.$dirty && resetPasswordForm.email.$invalid" ng-class="{myErrorText: resetPasswordForm.email.$dirty && resetPasswordForm.email.$invalid }">
                    <span ng-show="resetPasswordForm.email.$error.required">This field can't be empty </span>
                    <span ng-show="resetPasswordForm.email.$error.pattern">Please enter valid email.</span>
                </span> 
           </div>
       </div>
                              
            
                </div>  
         
                
                <div class="col-md-12 m-top-15 pad-0">   
                    <button class="google-login" ng-click="forgotPassword()" ng-disabled="resetPasswordForm.$invalid"><p>RESET</p></button>
                    
                </div>
                
                 <div class="col-md-12 m-top-15 pad-top-40 pad-0">
                    <div class="col-md-12 text-center forgot-pass pad-0 chnge-align">	
                        <p><a ui-sref="signInState">Go to Sign in page</a></p>
                    </div>
                  <!--    <div class="col-md-6 pad-0">
                        <a ui-sref="signInState"><button class="login-button-style2">SIGN IN</button></a>
                    </div>-->
                 </div>
                
                
            </form>
            
        </div>
    </div>

</div>